.card {
    color : white;
    border-radius: 25px;
    padding : 30px;
    margin : 200px auto;
    backdrop-filter: blur(5px);
    width : 400px;
    height : 350px;
    font-size: 20px;
}

input {
    padding : 12px;
    margin : 20px auto;
    width : 95%;
    border-radius: 10px;
}

button {
    border-radius: 8px;
    margin: 20px auto;
    background-color: white;
    padding : 7px;
    font-size : 18px;
    cursor : pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.3s ease , transform 0.3s ease;
}

button:hover {
    background-color :cyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scale(1.05);
}

body {
    background-image :url(../Images/backgroundimg.avif);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
